# Hyper parameter optimization configuration
{
    # Bayes algorithm for hyper-param optimiztion
    'algorithm': 'bayes',

    # Declare your hyperparameters in the Vizier-inspired format:
    'parameters': {

        # Optimizing hyperparameters
        'graph_model': {
            'type': 'categorical',
            'values': ['mpnn', 'gcn', 'gat', ], },

        'graph_state_dim': {
            'type': 'integer',
            'scalingType': 'uniform',
            'min': 128,
            'max': 512, },

        'graph_num_conv': {
            'type': 'integer',
            'scalingType': 'uniform',
            'min': 3,
            'max': 6, },
        #
        'graph_out_dim': {
            'type': 'integer',
            'scalingType': 'uniform',
            'min': 256,
            'max': 1024, },

        'graph_attention_pooling': {
            'type': 'categorical',
            'values': ['True', 'False', ], },

        'uno_dropout': {
            'type': 'float',
            'scalingType': 'uniform',
            'min': 0.0,
            'max': 0.5, },

        # Fixed hyperparameters
        'uno_state_dim': 1024,
        'cell_state_dim': 1024,

        'bin_auc_num': 0.5,

        'batch_size': 64,
        'num_workers': 64,
        'max_num_epochs': 500,
        'learning_rate': 0.0001,

    },

    # Declare what we will be optimizing, and how:
    'spec': {
        'metric': 'best_r2',
        'objective': 'maximize',
    },
}
